<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Info</title>

	<link rel="stylesheet" href="style.css" />

</head>

<body>
	<div class="contenedorMensajes">
		<h1>
			Los nombre para ingresar son

		</h1>
		<ul>
			<li>
				Clara
			</li>
			<li>Juan</li>
			<li>Jose</li>
		</ul>
		<button class="btn" onclick="location.href='/logout'"> Salir</button>
	</div>
</body>

</html>