<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logout</title>
    
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="contenedorMensajes">
      <h1>¡Nos vemos <%=nombre%>!</h1>
    </div>
    <script>
      setTimeout(() => {
        location.href = "/";
      }, 2000);
    </script>
  </body>
</html>